{{!--

<head>
  <title>Admin's Page {{title}}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet" />

  <!-- Css Styles -->
  <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" href="../css/font-awesome.min.css" type="text/css" />
  <link rel="stylesheet" href="../css/elegant-icons.css" type="text/css" />
  <link rel="stylesheet" href="../css/nice-select.css" type="text/css" />
  <link rel="stylesheet" href="../css/jquery-ui.min.css" type="text/css" />
  <link rel="stylesheet" href="../css/owl.carousel.min.css" type="text/css" />
  <link rel="stylesheet" href="../css/slicknav.min.css" type="text/css" />
  <link rel="stylesheet" href="../css/style.css" type="text/css" />


  <style>
    .flex-column {
      border-style: solid;
      border-color: #77B4E3;
      border-width:
        1px;
    }

    .overflow-auto {
      border-style: solid;
      height: 600px;
      border-color: #77B4E3;
      border-width:
        1px;
    }
  </style>

</head> --}}

<body>
  <div class="container">
    <div class="row" style="margin-top:20px;  ">
      <div>
        <div class="mt-4" style="text-align: center;">
          <h3>Quản lí tài khoản</h3>
        </div>
        <nav class="nav nav-pills nav-justified mt-4">

          {{#if admin}}
          <a class="nav-link" style="background-color: aqua;" href="/accounts/account-manager?type=admin"
            id="adminTab">Nhân viên</a>
          <a class="nav-link" href="/accounts/account-manager?type=customer" id="customerTab">Khách hàng</a>
          {{else}}
          <a class="nav-link" href="/accounts/account-manager?type=admin" id="adminTab">Nhân viên</a>
          <a class="nav-link" style="background-color: aqua;" href="/accounts/account-manager?type=customer"
            id="customerTab">Khách hàng</a>
          {{/if}}



        </nav>
        <div class="overflow-auto">
          <div class="book-information" data-spy="scroll">
            <table class="table table-success table-striped table-bordered ">
              {{#if admin}}

              <thead style="position: sticky; top: 0; z-index: 1; ">
                <tr>
                  <th scope="col" class="text-center">ID</th>
                  <th scope="col" class="text-center">Tài khoản</th>
                  <th scope="col" class="text-center">Email</th>
                  <th scope="col" class="text-center">Ngày kích hoạt</th>
                </tr>
              </thead>
              <tbody>
                {{#each accounts}}
                <tr>
                  <th scope="col" class="text-center">{{this.MANV}}</th>
                  <th scope="col" class="text-center">{{this.USER}}</th>
                  <th scope="col" class="text-center">{{this.EMAIL}}</th>
                  <th scope="col" class="text-center">{{this.createdAt}}</th>
                </tr>
                {{/each}}
                <div class="float-right md-4" style="margin: 5px 10px 15px;">
                  <a href="/accounts/add" class="-link">
                    Thêm tài khoản
                    <i class="fas fa-user-circle"></i>
                  </a>
                </div>
              </tbody>

              {{else}}
              <thead style="position: sticky; top: 0; z-index: 1; ">
                <tr>
                  <th scope="col" class="text-center">ID</th>
                  <th scope="col" class="text-center">Tài khoản</th>
                  <th scope="col" class="text-center">Email</th>
                  <th scope="col" class="text-center">Ngày kích hoạt</th>
                  <th scope="col" class="text-center">Trạng thái</th>

                </tr>
              </thead>
              <tbody>
                {{#each accounts}}
                <tr>
                  <th scope="col" class="text-center">
                    <a href="/accounts/customer/{{this.MAKH}}" class="-link">
                      {{this.MAKH}}
                    </a>
                  </th>
                  <th scope="col" class="text-center">{{this.USER}}</th>
                  <th scope="col" class="text-center">{{this.EMAIL}}</th>
                  <th scope="col" class="text-center">{{this.createdAt}}</th>
                  <th scope="col" style="display: flex; justify-content: center;">
                    {{#if this.deletedAt}}
                    <button type="button" class="btn btn-primary btn-danger" data-dismiss="modal"
                      id="btnlock{{this.MAKH}}" data-status='lock' onclick='lock("{{this.MAKH}}")'>
                      <a href="/" data-toggle="modal" id="link{{this.MAKH}}" data-target="#announcementUnlock"
                        style="color: white;">
                        {{!-- <i class="fas fa-user-lock" style="padding: 2px;" id="icon{{this.MAKH}}"></i> --}}
                        <i class="fas fa-lock" style="padding: 2px;" ></i>
                      </a>
                    </button>
                    {{else}}
                    <button type="button" class="btn btn-primary btn-success" data-dismiss="modal"
                      id="btnlock{{this.MAKH}}" data-status='unlock' onclick='lock("{{this.MAKH}}")'>
                      <a href="/" data-toggle="modal" id="link{{this.MAKH}}" data-target="#announcementLock"
                        style="color: white;">
                        {{!-- <i class="fas fa-user-unlock" style="padding: 2px;" id="icon{{this.MAKH}}"></i> --}}
                        <i class="fas fa-lock-open" style="padding: 2px;" ></i>
                      </a>
                    </button>
                    {{/if}}
                  </th>
                </tr>
                {{/each}}
              </tbody>
              {{/if}}
            </table>

            <div class="d-flex justify-content-center" >
      <nav aria-label="Page navigation example">
        <ul class="pagination" id="pagination">
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          {{!-- <li class="page-item"><a class="page-link" href="#" value="-1">Previous</a></li>
          
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li> --}}
        </ul>
      </nav>
    </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</body>


<div class="modal fade" id="announcementUnlock" tabindex="-1" role="dialog" aria-labelledby="addBookLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="container">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Thông báo</h5>
        </div>
        <div class="modal-body">
          <div id="AnnouncementContent">
            Bạn chắc chắn muốn mở khóa cho tài khoản này?
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-success" id="btnUnlock" data-dismiss="modal">
            <a href="/" data-toggle="modal" style="color: white;">
              Mở khóa
            </a>
          </button>
          <button type="button" class="btn btn-secondary btn-danger" data-dismiss="modal">
            <a href="/" data-toggle="modal" style="color: white;">Đóng</a>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="announcementLock" tabindex="-1" role="dialog" aria-labelledby="addBookLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="container">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Thông báo</h5>
        </div>
        <div class="modal-body">
          <div id="AnnouncementContent">
            Bạn chắc chắn muốn khóa tài khoản này?
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-success" id="btnLock" data-dismiss="modal">
            <a href="/" data-toggle="modal" style="color: white;">
              Khóa
            </a>
          </button>
          <button type="button" class="btn btn-secondary btn-danger" data-dismiss="modal">
            <a href="/" data-toggle="modal" style="color: white;">Đóng</a>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
  var MAKH
  var status
  function lock(id) {
    MAKH = id
    status = document.getElementById("btnlock" + id).getAttribute("data-status")
  }





  document.getElementById('btnLock').addEventListener('click', function (e) {
  //  document.getElementById("icon" + MAKH).className = "fas fa-user-lock"
    document.getElementById("link" + MAKH).setAttribute("data-target", "#announcementUnlock")
    document.getElementById("btnlock" + MAKH).setAttribute("data-status", "lock")
    document.getElementById("btnlock" + MAKH).setAttribute("class", "btn btn-primary btn-danger")
    //document.getElementById("link" + MAKH).innerHTML = '';
    //document.getElementById("link" + MAKH).appendChild('<i class="fas fa-lock-open"></i>')
    $(`#link${MAKH}`).empty()    
    $(`#link${MAKH}`).append(' <i class="fas fa-lock" style="padding: 2px;" ></i>')

    lock_unLock(MAKH, status)


  })

  document.getElementById('btnUnlock').addEventListener('click', function (e) {
//    document.getElementById("icon" + MAKH).className = "fas fa-user-unlock"
    document.getElementById("link" + MAKH).setAttribute("data-target", "#announcementLock")
    document.getElementById("btnlock" + MAKH).setAttribute("data-status", "unlock")
    document.getElementById("btnlock" + MAKH).setAttribute("class", "btn btn-primary btn-success")
    //document.getElementById("link" + MAKH).innerHTML = '';
   // document.getElementById("link" + MAKH).appendChild(' <i class="fas fa-lock"></i>')
    $(`#link${MAKH}`).empty()
    $(`#link${MAKH}`).append(' <i class="fas fa-lock-open" style="padding: 2px;" ></i>')

    lock_unLock(MAKH, status)


  })
  function lock_unLock(MAKH, status) {
    $.ajax({
      url: `/api/accounts/lockOrUnlockAccount`,
      method: "PUT",
      data: {
        MAKH,
        status
      }, success: function (data) {
      }
    })
  }
var mainUri="/accounts/account-manager"; 
var mainquery="?type=admin";
if(!{{admin}})
{
  mainquery="?type=customer";
}
function generatePaginationUSER(ttPage, crPage, mainUri,mainQuery) {
    var pagi = document.getElementById("pagination");
    pagi.innerHTML = "\n";
    for (let i = 0; i < ttPage; i++) {
        var className = "page-item";
        if (i + 1 == crPage) {
            className += " active";
        }
        var liDiv = `<li class="${className}"><a class="page-link" href="${mainUri}${mainQuery}&page=${i+1}" onclick="onPageChanged(${i+1})">${i+1}</a></li>\n`;
        pagi.innerHTML += liDiv;

    }

}
generatePaginationUSER({{total}},{{current}}+1,mainUri,mainquery);
</script>
