{{!-- <head>
  <title>Admin's Page {{title}}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet" />

  <!-- Css Styles -->
  <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" href="../css/font-awesome.min.css" type="text/css" />
  <link rel="stylesheet" href="../css/elegant-icons.css" type="text/css" />
  <link rel="stylesheet" href="../css/nice-select.css" type="text/css" />
  <link rel="stylesheet" href="../css/jquery-ui.min.css" type="text/css" />
  <link rel="stylesheet" href="../css/owl.carousel.min.css" type="text/css" />
  <link rel="stylesheet" href="../css/slicknav.min.css" type="text/css" />
  <link rel="stylesheet" href="../css/style.css" type="text/css" />


  <style>
    .flex-column {
      border-style: solid;
      border-color: #77B4E3;
      border-width:
        1px;
    }

    .overflow-auto {
      border-style: solid;
      height: 600px;
      border-color: #77B4E3;
      border-width:
        1px;
    }
  </style>

</head> --}}

<body>
  <div class="container">

    <div class="row" style="margin-top:20px;  ">

      <div class="col">
        <div class="mt-4">
          <div class="text-center">
            <H3>Phiếu Nhập hàng </H3>
          </div>
          <form class="form-inline my-2 my-lg-0 mt-5">
            <input id = "search" class="form-control mr-sm-2" type="search" name="search" placeholder="Tìm mã hóa đơn hoặc nhà xuất bản"
              aria-label="Search" value = "{{search}}">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Tìm</button>
          </form>

          <div>
            <table class="table table-striped mt-4">
              <thead>
                <tr>
                  <th scope="col">STT</th>
                  <th scope="col">Mã Hóa Đơn Nhập hàng</th>
                  <th scope="col">Tên NXB</th>
                  <th scope="col">Số điện thoại</th>
                  <th scope="col">Thời gian</th>
                  {{!-- <th scope="col" colspan="2"> Lựa Chọn </th> --}}
                </tr>
              </thead>
              <tbody>
                {{#each order}}
                <tr>
                  <th scope="row">{{ sum (sum @index (mul 24 ../current)) 1}}</th>
                  <td>
                    <a href="/orders/order-detail/{{this.MAPN}}" class="btn-link">{{this.MAPN}}</a>
                  </td>
                  <td>{{this.Ten}}</td>
                  <td>{{this.sdt}}</td>
                  <td>{{this.NGAYNHAP}}</td>
                  {{!-- <td>
                    <a href="#" class="btn btn-link">Sửa</a>
                    <a href="#" class="btn btn-link">Xóa</a>
                  </td> --}}
                </tr>
                {{else}}
                <tr>
                  <td colspan="7" class="text-center">
                    Danh sách trống
                  </td>
                </tr>
                {{/each}}


              </tbody>
              <tfoot>
                <td colspan="5"> 
                  <a href="/orders/input-order" class="btn btn-success">
                    <i class="fas fa-plus-square" style="padding: 3px;"></i>
                    Thêm phiếu nhập mới</a>
                </td>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center" >
      <nav aria-label="Page navigation example">
        <ul class="pagination" id="pagination">
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          {{!-- <li class="page-item"><a class="page-link" href="#" value="-1">Previous</a></li>
          
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li> --}}
        </ul>
      </nav>
    </div>
  </div>
  <script>
    var mainUri="/orders/order-manager?page="; 
    var search = document.getElementById('search').value;
    if(search){
      mainUri = "/orders/order-manager?search="+search+"&page="
    }

  generatePagination({{total}},{{current}}+1,mainUri);

</script>
</body>
