<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">


    <img src="/images/logo.png" style="background:black;height:100px"/>
    <h2 class="title">Thông tin tài khoản</h2>
    <div class="row">
        <div class="col-3">
            <img src="{{user.HINHANH}}"/>
        </div>
        <div class="col">
              <div class="row">
        

    </div>
    <div class="row">
        <div class="col-2">
            <p>Họ và tên</p>
        </div>
        <div class="col-2">
            <input class="input--style-5" type="text" name="name" value="{{user.HOTEN}}" readonly="readonly">
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <p>Email</p>
        </div>
        <div class="col-2">
            <input class="input--style-5" type="email" name="email" value="{{user.EMAIL}}"readonly="readonly">
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <p>Số điện thoại</p>
        </div>
        <div class="col-2">
            <input class="input--style-5" type="phone" name="phone" value="{{user.SDT}}"readonly="readonly">
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <p>Giới tính</p>
        </div>
        <div class="col-2">
            <div class="value">
                {{{gender 'NAM' user.PHAI }}}
                {{{gender 'NU' user.PHAI }}}

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <p>Địa chỉ</p>
        </div>
        <div class="col-2">
            <input class="input--style-5" type="text" name="address" value="{{user.DIACHI}}"readonly="readonly">
        </div>
    </div>
    <button class="btn btn-primary" style="float: left;">Lưu thông tin</button>
    <button class="btn btn-success" style="float: left; margin-left:30px;">Chỉnh sửa</button>
        </div>
    </div>


  



</body>