<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">


    {{!-- <h1>{{title}}</h1>
    <p>Web bán truyện được ưa thích nhất</p> --}}

    <div class="row">
        <h2 class="title">Thông tin tài khoản</h2>

    </div>
    <div class="row">
        <div class="col-2">
            <p>Họ và tên</p>
        </div>
        <div class="col-2">
            <input class="input--style-5" type="text" name="name" value="{{user.HOTEN}}">
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <p>Email</p>
        </div>
        <div class="col-2">
            <input class="input--style-5" type="email" name="email" value="{{user.EMAIL}}">
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <p>Số điện thoại</p>
        </div>
        <div class="col-2">
            <input class="input--style-5" type="phone" name="phone" value="{{user.SDT}}">
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <p>Giới tính</p>
        </div>
        <div class="col-2">
            <div class="value">
                {{{gender 'NAM' user.PHAI }}}
                {{{gender 'NU' user.PHAI }}}

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <p>Địa chỉ</p>
        </div>
        <div class="col-2">
            <input class="input--style-5" type="text" name="address" value="{{user.DIACHI}}">
        </div>
    </div>
    <button class="btn btn-primary">Lưu thông tin</button>


    </div>
</body>